
body{
    width: 80%;
    background-color:  #f0f0f0;
    margin: auto;
 
    }

    main{
background-color: rgb(245, 193, 175);
margin:auto;
border: 2px solid black;
padding: 5px;

    }

h1{
color: blueviolet; 

}


p {

    /*background-color: blue;*/
    color: whitesmoke;
}

.muganzistyles{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: green;
color: yellow;

}

.sectionstyle{
    width: 50%;
    background-color: chartreuse;
}



#h1styles{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/*Nav menu stylings*/

ul>li{
    list-style: none; /*To remove bullets */
    display: inline;  /*To put list items in one line */
   

}

ul>li>a{
    text-decoration: none; /*To remove lines on links*/
    color: white;
    background-color: green;
    margin-left: 4px;
    padding: 5px;
}

ul>li>a:hover{
    color:green;
    background-color: white;
}

.selected{
    color:green;
    background-color: yellow;
}